

.title {
    color: #00FF00; 
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.content {
    color: white; 
    margin-bottom: 10px;
}

.contact {
    margin-top: 20px;
}

.contact-input, .contact-textarea {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 10px;
    font-size: 1rem;

}

.contact-input::placeholder, .contact-textarea::placeholder {
    color: black; 
}

.contact-textarea {
    height: 100px;
    resize: none;
}

.send-button {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: blue; 
    color: #FFF;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #0075FF; 
}
.constellation{
    box-sizing: border-box;
    border-radius: 90px;
    padding: 0 30px 0 30px ;
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 46.875rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.constellation::-webkit-scrollbar {
    display: none; 
}
.google-map {
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden; 
}
