.planet-card {
    box-sizing: border-box;
    width: 72.875rem;
    height: 46.875rem;
    padding: 0.3125rem;
    gap: 0.3125rem;
    border-radius: 6.25rem;
    background: linear-gradient(127deg, rgba(0, 0, 0, 0.60) 6.79%, rgba(36, 35, 41, 0.60) 93.21%);
    box-shadow: -8px -8px 5px 0px rgba(18, 15, 15, 0.60) inset, 4px 4px 4px 0px rgba(255, 255, 255, 0.50) inset, 0px 20px 50px 0px rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(35px);
    position: relative;
}
.like{
    position: absolute;
    top:50px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    z-index: 10; 
    
}
.count{
    color: #FFF;
    text-align: center;
    font-size: 30px;
}
.video{
    position: absolute;
    cursor: pointer;
    top: 50px;
    right: 50px;
    z-index: 10; 
}
.video-overlay {
    border-radius: 6.25rem;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
 iframe{
    border-radius: 10px;
 }
.video-container video {
    width: 80%; 
    max-width: 800px; 
    border: 2px solid white; 
    border-radius: 8px; 
}
.planet-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.planet-container>img {
    position: absolute;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
}

.planet-container>.spot1 {
    position: absolute;
    top: 260px;
    left: 825px;
}

.planet-container>.spot2 {
    position: absolute;
    top: 210px;
    left: 380px;
}

.planet-container>.moon {
    position: absolute;
    top: 265px;
    left: 260px;
}

.planet-container>.spacestation {
    position: absolute;
    top: 200px;
    left: 970px;
}

.infor1 {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.infor1>.title {
    width: auto;
    text-align: left;
    text-shadow: 0px 3px 9px rgba(0, 56, 255, 0.50);
    font-family: "Abril Fatface";
    font-size: 1.475rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #2AE5FF 31.03%, #0075FF 79.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.infor1>.content {
    width: auto;
    color: #FFF;
    text-align: left;
    font-family: "Abril Fatface";
    font-size: 1.225rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 0;
}

.infor2 {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 40px;
    right: 50px;
}

.infor2>.title {
    width: auto;
    text-align: right;
    text-shadow: 0px 3px 9px rgba(0, 56, 255, 0.50);
    font-family: "Abril Fatface";
    font-size: 1.475rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #2AE5FF 31.03%, #0075FF 79.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.infor2>.content {
    width: auto;
    color: #FFF;
    text-align: right;
    font-family: "Abril Fatface";
    font-size: 1.225rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 0;
}

.infor3 {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 52%;
}

.infor3>.title {
    width: auto;
    text-align: center;
    text-shadow: 0px 3px 9px rgba(0, 56, 255, 0.50);
    font-family: "Abril Fatface";
    font-size: 1.475rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #2AE5FF 31.03%, #0075FF 79.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.infor3>.content {
    width: auto;
    color: #FFF;
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 1.225rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 0;
}

.infor4 {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40px;
    right: 52%;
}

.infor4>.title {
    width: auto;
    text-align: center;
    text-shadow: 0px 3px 9px rgba(0, 56, 255, 0.50);
    font-family: "Abril Fatface";
    font-size: 1.475rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #2AE5FF 31.03%, #0075FF 79.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.infor4>.content {
    width: auto;
    color: #FFF;
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 1.225rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 0;
}

.moon-info {
    display: flex;
    width: 16rem;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 40%;
    left: 50px;
}

.moon-info>.head {
    width: auto;
    color: #ff0000;
    text-align: left;
    font-family: Inter;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.moon-info>.content {
    width: 200px;
    color: #FFF;
    text-align: left;
    font-family: "Abril Fatface";
    font-size: 1.225rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 0;
}
.spacestation-info {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 33%;
    right: 50px;
}

.spacestation-info>.head {
    width: 16rem;
    color: #ff0000;
    text-align: left;
    font-family: Inter;
    font-size: 2.575rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.spacestation-info>.content {
    width: 16rem;
    color: #FFF;
    text-align: left;
    font-family: "Abril Fatface";
    font-size: 1.225rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 0;
}
.spinner{
    animation: spin 60s linear infinite;
    border-radius: 50%;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }