


.container {
    background-image: url("/public/images/bg.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-container {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px
}

.explore {
    box-sizing: border-box;
    display: flex;
    width: 38.125rem;
    height: 46.875rem;
    padding: 0.3125rem;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: linear-gradient(127deg, rgba(0, 0, 0, 0.60) 6.79%, rgba(36, 35, 41, 0.60) 93.21%);
    box-shadow: -8px -8px 5px 0px rgba(18, 15, 15, 0.60) inset, 4px 4px 4px 0px rgba(255, 255, 255, 0.50) inset, 0px 20px 50px 0px rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(35px);
    position: relative;
}

.button {
    display: flex;
    width: 14rem;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 2.4375rem;
    flex-shrink: 0;
    border-radius: 31.25rem;
    background: rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button:hover {
    background: linear-gradient(180deg, #2AE5FF -28%, #0075FF 79.31%); 
    cursor: pointer;
    scale: 1.1;
}
.button:active {
    background: linear-gradient(180deg, #2AE5FF -28%, #0075FF 79.31%); 
    transform: scale(1); 
}
.infor {
    box-sizing: border-box;
    display: flex;
    width: 72.875rem;
    height: 46.875rem;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 6.25rem;
    background: linear-gradient(127deg, rgba(0, 0, 0, 0.60) 6.79%, rgba(36, 35, 41, 0.60) 93.21%);
    box-shadow: -8px -8px 5px 0px rgba(18, 15, 15, 0.60) inset, 4px 4px 4px 0px rgba(255, 255, 255, 0.50) inset, 0px 20px 50px 0px rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(35px);
}

.button-container {
    height: auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 0px 5px 0px;
}

.obser-list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 720px;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.obser-list::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    position: absolute;
    background: transparent;
    display: none;
}

.earth-card-container {
    display: inline-block;
    /* Hoặc block tùy giao diện */
}