
.ob-img {
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của phần tử chứa */
    height: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều cao của phần tử chứa */
    display: flex;
    justify-content: center; /* Căn giữa ảnh ngang */
    align-items: center; /* Căn giữa ảnh dọc */
    
  }
  
  .ob-img img {
    width: 100%; /* Đảm bảo ảnh có chiều rộng 100% */
    height: 100%; /* Đảm bảo ảnh có chiều cao 100% */
    object-fit: fit; /* Giữ tỷ lệ của ảnh và cắt bớt phần thừa nếu cần thiết */
    border-radius: 90px;
  }


  .title {
    height: auto;
    flex-shrink: 0;
    
    text-shadow: 0px 3px 9px rgba(255, 168, 0, 0.50);
    font-family: Adamina;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #F6E336 32.76%, #E48413 87.93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
}

.content {
    margin-left: 10px;
    margin-bottom: 10px;
    height: auto;
    flex-shrink: 0;
    align-self: stretch;
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}
.obser{
    box-sizing: border-box;
    border-radius: 90px;
    padding: 0 30px 0 30px ;
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 46.875rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.obser::-webkit-scrollbar {
    display: none; /* Ẩn scrollbar trên WebKit */
}
