.scrolling-sticker {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(127deg, rgba(0, 0, 0, 0.60) 6.79%, rgba(36, 35, 41, 0.60) 93.21%);
    box-shadow: -8px -8px 5px 0px rgba(18, 15, 15, 0.60) inset, 4px 4px 4px 0px rgba(255, 255, 255, 0.50) inset, 0px 20px 50px 0px rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(35px);
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    animation: scroll 20s linear infinite;
    border-radius: 15px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}