.container {
    background-image: url("../public/images/bg.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.solar-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 38.125rem;
    margin-left: 10px;

}

.solar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.orbit {
    position: absolute;
    border-top: 2px rgba(255, 255, 255, 0.69) solid;
    width: 400px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 0;

}

.content-container {

    display: flex;
    gap: 20px;
}

.explore {
    display: flex;
    width: 38.125rem;
    height: 46.875rem;
    padding: 0.3125rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5125rem;
    flex-shrink: 0;
    
    /* overflow: hidden; */
    border-radius: 6.25rem;
    background: linear-gradient(127deg, rgba(0, 0, 0, 0.60) 6.79%, rgba(36, 35, 41, 0.60) 93.21%);
    box-shadow: -8px -8px 5px 0px rgba(18, 15, 15, 0.60) inset, 4px 4px 4px 0px rgba(255, 255, 255, 0.50) inset, 0px 20px 50px 0px rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(35px);
    margin-left: 10px;
}

.dropdown {
    display: flex;
    width: 38.125rem;
    height: 5.25rem;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    flex-shrink: 0;
}

.button {
    display: flex;
    width: 12rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 2.4375rem;
    flex-shrink: 0;
    border-radius: 31.25rem;
    background: rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.earth {
    width: 100%;
    height: 300px;
    
}
.sun {
    width: 100%;
    height: 300px; 
}

.mars {
    width: 100%;
    height: 300px; 
}

.earthcard {
    display: flex;
    width: 28.125rem;
    height: 15.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.875rem;
    border: 3px solid #2369B8;
    background: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(20px);
    border-radius: 1.25rem;
    background: linear-gradient(90deg, rgba(0, 102, 255, 0.00) 0%, rgba(0, 102, 255, 0.25) 50%, rgba(0, 102, 255, 0.00) 100%);
    margin-left: 20px;
    margin-top: 50px;
}
.suncard {
    display: flex;
    width: 28.125rem;
    height: 15.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.875rem;
    border: 3px solid #FFA800;
    background: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(20px);
    border-radius: 1.25rem;
    background: linear-gradient(90deg, rgba(255, 199, 0, 0.00) 0%, rgba(255, 153, 0, 0.20) 50%, rgba(255, 199, 0, 0.00) 100%);
    margin-left: 20px;
    margin-top: 50px;
}
.marscard {
    display: flex;
    width: 28.125rem;
    height: 15.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.875rem;
    border: 3px solid #FFA800;
    background: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(20px);
    border-radius: 1.25rem;
    background: linear-gradient(90deg, rgba(255, 199, 0, 0.00) 0%, rgba(255, 153, 0, 0.20) 50%, rgba(255, 199, 0, 0.00) 100%);
    margin-left: 20px;
    margin-top: 50px;
}

.tittle {
    width: 6.75rem;
    height: 3.625rem;
    text-shadow: 0px 3px 9px rgba(0, 56, 255, 0.50);
    font-family: "FONTSPRING DEMO - Oktah Round Bold";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #2AE5FF 31.03%, #0075FF 79.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 1.875rem;
    top: 0.0625rem;
}
.suncard> .tittle{
    width: 6.75rem;
    height: 3.625rem;
    text-shadow: 0px 3px 9px rgba(255, 168, 0, 0.50);
    font-family: "FONTSPRING DEMO - Oktah Round Bold";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F6E336 32.76%, #E48413 87.93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 1.875rem;
    top: 0.0625rem;
}
.marscard> .tittle{
    width: 6.75rem;
    height: 3.625rem;
    text-shadow: 0px 3px 9px rgba(255, 168, 0, 0.50);
    font-family: "FONTSPRING DEMO - Oktah Round Bold";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F6E336 32.76%, #E48413 87.93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 1.875rem;
    top: 0.0625rem;
}

.moreinfo {
    width: 23.4375rem;
    position: absolute;
    left: 1.875rem;
    top: 3.6875rem;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.suncard> .moreinfo {
    width: 23.4375rem;
    position: absolute;
    left: 1.875rem;
    top: 3.6875rem;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.marscard> .moreinfo {
    width: 23.4375rem;
    position: absolute;
    left: 1.875rem;
    top: 3.6875rem;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lighttext {
    color: #00A3FF;
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.suncard>.moreinfo> .lighttext{
    color: #FFA800;
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.marscard>.moreinfo> .lighttext{
    color: #FFA800;
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.explorebutton {
    display: flex;
    width: 16.25rem;
    height: 3.125rem;
    padding: 0.3125rem;
    padding-left: 12px;
    align-items: center;
    gap: 1.25rem;
    position: absolute;
    left: 1.875rem;
    bottom: 0.9375rem;
    border-radius: 6.25rem;
    background: linear-gradient(180deg, #2AE5FF -28%, #0075FF 79.31%);
    box-shadow: 0px 3px 9px 0px rgba(0, 56, 255, 0.50);
}
.suncard> div>.explorebutton{
    display: flex;
    width: 16.25rem;
    height: 3.125rem;
    padding: 0.3125rem;
    padding-left: 12px;
    align-items: center;
    gap: 1.25rem;
    position: absolute;
    left: 1.875rem;
    bottom: 0.9375rem;
    border-radius: 6.25rem;
    background: linear-gradient(180deg, #F6E336 0%, #E48413 100%);
    box-shadow: 0px 4px 10px 2px rgba(255, 153, 0, 0.40);
}
.marscard> div>.explorebutton{
    display: flex;
    width: 16.25rem;
    height: 3.125rem;
    padding: 0.3125rem;
    padding-left: 12px;
    align-items: center;
    gap: 1.25rem;
    position: absolute;
    left: 1.875rem;
    bottom: 0.9375rem;
    border-radius: 6.25rem;
    background: linear-gradient(180deg, #F6E336 0%, #E48413 100%);
    box-shadow: 0px 4px 10px 2px rgba(255, 153, 0, 0.40);
}

.textfill {
    color: #FFF;
    font-family: "FONTSPRING DEMO - Oktah Round Bold";
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    /* 80% */
}

.wrapicon {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: #FFF;
}

.content-img {
    width: 9.375rem;
    height: 9.375rem;
    position: absolute;
    top: 80px;
    right: 50px;
}
.sun> .content-img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 300px;
    right: -22px;
}
.mars> .content-img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 300px;
    right: -22px;
}

.infor {
    display: flex;
    width: 72.875rem;
    height: 46.875rem;
    padding: 0.3125rem;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: linear-gradient(127deg, rgba(0, 0, 0, 0.60) 6.79%, rgba(36, 35, 41, 0.60) 93.21%);
    box-shadow: -8px -8px 5px 0px rgba(18, 15, 15, 0.60) inset, 4px 4px 4px 0px rgba(255, 255, 255, 0.50) inset, 0px 20px 50px 0px rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(35px);
}